
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['kibana'],
        'service': 'kibana',
        'dir': '/opt/kibana'
    },
}, merge=salt['pillar.get']('kibana:server')) %}
