
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgname': 'kibana',
        'service': 'kibana',
        'configpath': '/opt/kibana/config/kibana.yml',
    },
}, merge=salt['pillar.get']('kibana:server')) %}
